.btn-primary {
  background-color: lighten($primary-color-dark, 3);
  transition: background-color 0.3s;
  border-radius: 50px;
  border: none;
  &:hover {
    background-color: $primary-color-dark;
  }
}
