.expand-description {
  cursor: pointer;
}
span.expand-description {
  width: 25px;
  height: 25px;
  background-color: #E7ECF4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  svg {
    transform: translate(-50%, -50%) rotate(90deg);
    position: absolute;
    left: 50%;
    top: 50%;

  }
}

.expand-description.active {
  background-color: $primary-color;
  transition: transform 0.5s;
  svg {
    transform: translate(-50%, -50%) rotate(270deg);
    top: 56%;
    path {
      stroke: white;
    }
  }
}
