section.projects {
  background-color: $secondary-color-light;
  padding: $sections-padding;

  .project-info {
    text-align: center;
    margin-bottom: 3rem;
    &__section-title {
      font-weight: 700;

    }

    &__section-subtitle {
      margin-top: 1.5rem;
      color: #5c5c5c;
    }
  }
}

section.meeting-structure {
  background-color: #EEF2F7;
  padding: $sections-padding;
}

section.register-form {
  padding: $sections-padding;
  background-color: white;

  .wrapper {
    width: 80%;
    margin: 0 auto;
    @include responsive(md) {
      width: 100%;
    }
  }
}
