<section class="success-projects">
    <div class="container">
        <div class="info">
            <h2 class="text-secondary">پروژه های موفق</h2>
        </div>
        <div class="content">
            <div id="success-projects-slider" class="splide success-projects-slider">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="item-wrapper splide__slide">
                            <a class="item-wrapper__item" href="#">{{> svg/logo/logo-01 }}</a>
                        </li>
                        <li class="item-wrapper splide__slide">
                            <a class="item-wrapper__item" href="#">{{> svg/logo/logo-02 }}</a>
                        </li>
                        <li class="item-wrapper splide__slide">
                            <a class="item-wrapper__item" href="#">{{> svg/logo/logo-03 }}</a>
                        </li>
                        <li class="item-wrapper splide__slide">
                            <a class="item-wrapper__item" href="#">{{> svg/logo/logo-04 }}</a>
                        </li>
                        <li class="item-wrapper splide__slide">
                            <a class="item-wrapper__item" href="#">{{> svg/logo/logo-02 }}</a>
                        </li>
                        <li class="item-wrapper splide__slide">
                            <a class="item-wrapper__item" href="#">{{> svg/logo/logo-03 }}</a>
                        </li>
                        <li class="item-wrapper splide__slide">
                            <a class="item-wrapper__item" href="#">{{> svg/logo/logo-04 }}</a>
                        </li>
                        <li class="item-wrapper splide__slide">
                            <a class="item-wrapper__item" href="#">{{> svg/logo/logo-03 }}</a>
                        </li>
                        <li class="item-wrapper splide__slide">
                            <a class="item-wrapper__item" href="#">{{> svg/logo/logo-04 }}</a>
                        </li>
                        <li class="item-wrapper splide__slide">
                            <a class="item-wrapper__item" href="#">{{> svg/logo/logo-02 }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
