<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
    {{> header/header }}

    <main>
        {{> projects/projects }}

        {{> meeting-structure/meeting-structure }}

        {{> register-form/register-form }}

        {{> categories/categories }}

        {{> success-projects/success-projects }}
    </main>
</body>
</html>
