<section class="meeting-structure">
    <div class="container">
        <div class="info">
            <div class="info__head">
                <div class="icon-box">
                    {{> svg/users }}
                </div>
                <h2 class="text-secondary">ساختار جلسات</h2>
            </div>
            <div class="row">
                <p class="text-subtitle">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                    طراحان گرافیک است، چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،</p>
            </div>
        </div>
    </div>

    <div class="tabs">
        <div class="container">
            <ul>
                <li data-type="meeting-structure" data-id="01" class="tab active"><h3>جلسات استراتژی</h3></li>
                <li data-type="meeting-structure" data-id="02" class="tab"><h3>جلسات حاکمیت دایره</h3></li>
                <li data-type="meeting-structure" data-id="03" class="tab"><h3>جلسات برنامه ریزی اسپرینت/کانبان</h3></li>
                <li data-type="meeting-structure" data-id="04" class="tab"><h3>جلسات محصول</h3></li>
            </ul>
        </div>
    </div>

    <div id="meeting-tab-mobile" class="splide meeting-tab-mobile">
        <div class="splide__track">
            <ul class="splide__list">
                <li data-type="meeting-structure" data-id="01" class="tab splide__slide active"><h3>جلسات استراتژی</h3></li>
                <li data-type="meeting-structure" data-id="02" class="tab splide__slide"><h3>جلسات حاکمیت دایره</h3></li>
                <li data-type="meeting-structure" data-id="03" class="tab splide__slide"><h3>جلسات برنامه ریزی اسپرینت/کانبان</h3></li>
                <li data-type="meeting-structure" data-id="03" class="tab splide__slide"><h3>جلسات محصول</h3></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="content-box">
            <div data-type="meeting-structure" data-target="#01" class="tab-target card content-wrapper active">
                <div class="content-wrapper__title">
                    <h4 class="text-secondary">جلسات استراتژی</h4>
                    <p class="paragraph"> هر یک سال یک بار مجموعه جلساتی‌ تحت عنوان جلسات برنامه‌ریزی استراتژیک برگزار می‌شود. براساس این جلسات
                        تیم راهبری داستان
                        .یک‌ساله‌ی شرکت نگارش می‌شود OKR سال را می‌نویسد و پس از بحث و تبادل نظر</p>
                    <p class="paragraph"> سازمان متناسب با رخداد‌های ۶ ماه گذشته برگزار OKR پس از گذشت ۶ ماهه مجموعه جلساتی در راستای بازنگری و یا
                        اصلاح استراتژی و یا
                        .می‌شود</p>
                    <h5 class="heading-subtitle">حاضرین</h5>
                    <p class="paragraph">.تمامی اعضای شرکت می‌توانند در این جلسات حضور پیدا کنند. حضور راهبر‌های هر تیم در این جلسات اجباری
                        است</p>
                </div>
            </div>
            <div data-type="meeting-structure" data-target="#02" class="tab-target card content-wrapper">
                <div class="content-wrapper__title">
                    <h4 class="text-secondary">جلسات استراتژی</h4>
                    <p class="paragraph">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،</p>
                    <p class="paragraph">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،.می‌شود</p>
                    <h5 class="heading-subtitle">حاضرین</h5>
                    <p class="paragraph">.تمامی اعضای شرکت می‌توانند در این جلسات حضور پیدا کنند. حضور راهبر‌های هر تیم در این جلسات اجباری
                        است</p>
                </div>
            </div>
            <div data-type="meeting-structure" data-target="#03" class="tab-target card content-wrapper">
                <div class="content-wrapper__title">
                    <h4 class="text-secondary">جلسات استراتژی</h4>
                    <p class="paragraph"> سازمان متناسب با رخداد‌های ۶ ماه گذشته برگزار OKR پس از گذشت ۶ ماهه مجموعه جلساتی در راستای بازنگری و یا
                        اصلاح استراتژی و یا
                        .می‌شود</p>
                    <h5 class="heading-subtitle">حاضرین</h5>
                    <p class="paragraph">.تمامی اعضای شرکت می‌توانند در این جلسات حضور پیدا کنند. حضور راهبر‌های هر تیم در این جلسات اجباری
                        است</p>
                </div>
            </div>
            <div data-type="meeting-structure" data-target="#04" class="tab-target card content-wrapper">
                <div class="content-wrapper__title">
                    <h4 class="text-secondary">جلسات استراتژی</h4>
                    <p class="paragraph"> هر یک سال یک بار مجموعه جلساتی‌ تحت عنوان جلسات برنامه‌ریزی استراتژیک برگزار می‌شود. براساس این جلسات
                        تیم راهبری داستان
                        .یک‌ساله‌ی شرکت نگارش می‌شود OKR سال را می‌نویسد و پس از بحث و تبادل نظر</p>
                    <h5 class="heading-subtitle">حاضرین</h5>
                    <p class="paragraph">.تمامی اعضای شرکت می‌توانند در این جلسات حضور پیدا کنند. حضور راهبر‌های هر تیم در این جلسات اجباری
                        است</p>
                </div>
            </div>
        </div>
    </div>
</section>
