<header>
    {{> navbar }}
    <div class="header-title">
        <h1 class="text-primary text-shadow">چالش ابر آروان</h1>
    </div>
    <div class="header__footer">
        <div class="header__footer--back"></div>
        <div class="header__footer--front"></div>
    </div>
</header>
