<nav class="main-nav">
    <div class="container">
        <div class="row">
            <div class="navbar">
                <div class="navbar__right">
                    <div class="navbar__logo">
                        <a href="/">{{> svg/logo }}</a>
                    </div>
                    <ul class="navbar__items">
                        {{> header/nav-item link="#" title="محصولات" }}
                        {{> header/nav-item link="#" title="بازارچه" }}
                        {{> header/nav-item link="#" title="مستندات" }}
                        {{> header/nav-item link="#" title="زیست بوم" }}
                        {{> header/nav-item link="#" title="قیمت" }}
                    </ul>
                </div>
                <div class="navbar__left">
                    <a href="#" class="btn btn-secondary">ورود</a>
                    <a href="#" class="btn btn-primary">ثبت نام</a>
                    <a href="#" class="btn btn btn-secondary">فارسی <span>{{> svg/global }}</span></a>
                    <button class="btn btn-primary btn-icon">{{> svg/call }}</button>
                </div>
            </div>
        </div>
    </div>

    {{> header/mobile-nav }}

</nav>
