<section class="projects">
    <div class="container">
        <div class="section-info">
            <h2 class="section-title text-secondary">فهرست پروژه ها</h2>
            <p class="project-info__section-subtitle">
                با فهرست پروژه های در جریان ابر آروان بیشتر آشنا شوید
            </p>
        </div>
        <div class="tabs">
            {{> projects/tabs }}
        </div>
        <div class="project-wrapper">
            <ul data-type="project" data-target="#01" class="tab-target project-wrapper__list active" >
                <li class="project-item">
                    <div class="project-item__header">
                        <p class="project-title list-style expand-description">Wordpress</p>
                        <span class="expand-description">{{> svg/arrow-down }}</span>
                    </div>
                    <div class="project-item__content">
                        <div class="row project-item__content--intro">
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/file-plus }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">درخواست دهنده تیم</p>
                                    <p class="project-content-box__item subtitle">تیم CDN</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/arrow-up-circle }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">روش اجرا و ارائه</p>
                                    <p class="project-content-box__item subtitle">Opensourse/Github</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/code }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">زبان پروژه</p>
                                    <p class="project-content-box__item subtitle">python</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/dollar }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">مبلغ پروژه</p>
                                    <p class="project-content-box__item subtitle">10,000,000 ریال</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item__content--description">
                            <div class="description-header">
                                <div class="description-icon">
                                    <span class="icon-box">
                                        {{> svg/edit }}
                                    </span>
                                </div>
                                <h3>شرح پروژه</h3>
                            </div>
                            <div class="description-text">
                                <ul>
                                    <li class="list-style">نرم افزاری برای انتقال یک دامنه به همراه تنظیمات آن از
                                        روی کلودفلر به آروان
                                    </li>
                                    <li class="list-style">یک دامنه را به همراه تنظیمات مربوطه از سرویس کلودفلر به
                                        آروان منتقل کند API Key این نرم افزار باید بتواند با دریافت
                                    </li>
                                    <li class="list-style">حالت مطلوب میتواند یک وبسایت مستقل باشد و یا میتواند یک
                                        اسکریپتی که با دریافت اطلاعات مربوطه این کار را انجام دهد
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="project-item__content--cta">
                            <li class="description-cta__item">
                                <div class="main">
                                            <span class="icon-box">
                                                {{> svg/github }}
                                            </span>
                                    <div class="flex-col">
                                        <div class="cta-title"><p>صفحه گیتهاب</p></div>
                                        <div class="cta-link">
                                            <a target="_blank" href="https://github.com">https://github.com/features</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="images/author.png" alt="author">
                                    <p>توسط سید حسن سیدی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-item__header">
                        <p class="project-title list-style expand-description">Drupal Plugin</p>
                        <span class="expand-description">{{> svg/arrow-down }}</span>
                    </div>
                    <div class="project-item__content">
                        <div class="row project-item__content--intro">
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/file-plus }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">درخواست دهنده تیم</p>
                                    <p class="project-content-box__item subtitle">تیم CDN</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/arrow-up-circle }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">روش اجرا و ارائه</p>
                                    <p class="project-content-box__item subtitle">Opensourse/Github</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/code }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">زبان پروژه</p>
                                    <p class="project-content-box__item subtitle">python</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/dollar }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">مبلغ پروژه</p>
                                    <p class="project-content-box__item subtitle">10,000,000 ریال</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item__content--description">
                            <div class="description-header">
                                <div class="description-icon">
                                    <span class="icon-box">
                                        {{> svg/edit }}
                                    </span>
                                </div>
                                <h3>شرح پروژه</h3>
                            </div>
                            <div class="description-text">
                                <ul>
                                    <li class="list-style">نرم افزاری برای انتقال یک دامنه به همراه تنظیمات آن از
                                        روی کلودفلر به آروان
                                    </li>
                                    <li class="list-style">یک دامنه را به همراه تنظیمات مربوطه از سرویس کلودفلر به
                                        آروان منتقل کند API Key این نرم افزار باید بتواند با دریافت
                                    </li>
                                    <li class="list-style">حالت مطلوب میتواند یک وبسایت مستقل باشد و یا میتواند یک
                                        اسکریپتی که با دریافت اطلاعات مربوطه این کار را انجام دهد
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="project-item__content--cta">
                            <li class="description-cta__item">
                                <div class="main">
                                            <span class="icon-box">
                                                {{> svg/github }}
                                            </span>
                                    <div class="flex-col">
                                        <div class="cta-title"><p>صفحه گیتهاب</p></div>
                                        <div class="cta-link">
                                            <a target="_blank" href="https://github.com">https://github.com/features</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="images/author.png" alt="author">
                                    <p>توسط سید حسن سیدی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-item__header">
                        <p class="project-title list-style expand-description">Migrate From CloudFlare to Arvan</p>
                        <span class="expand-description">{{> svg/arrow-down }}</span>
                    </div>
                    <div class="project-item__content">
                        <div class="row project-item__content--intro">
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/file-plus }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">درخواست دهنده تیم</p>
                                    <p class="project-content-box__item subtitle">تیم CDN</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/arrow-up-circle }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">روش اجرا و ارائه</p>
                                    <p class="project-content-box__item subtitle">Opensourse/Github</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/code }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">زبان پروژه</p>
                                    <p class="project-content-box__item subtitle">python</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/dollar }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">مبلغ پروژه</p>
                                    <p class="project-content-box__item subtitle">10,000,000 ریال</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item__content--description">
                            <div class="description-header">
                                <div class="description-icon">
                                    <span class="icon-box">
                                        {{> svg/edit }}
                                    </span>
                                </div>
                                <h3>شرح پروژه</h3>
                            </div>
                            <div class="description-text">
                                <ul>
                                    <li class="list-style">نرم افزاری برای انتقال یک دامنه به همراه تنظیمات آن از
                                        روی کلودفلر به آروان
                                    </li>
                                    <li class="list-style">یک دامنه را به همراه تنظیمات مربوطه از سرویس کلودفلر به
                                        آروان منتقل کند API Key این نرم افزار باید بتواند با دریافت
                                    </li>
                                    <li class="list-style">حالت مطلوب میتواند یک وبسایت مستقل باشد و یا میتواند یک
                                        اسکریپتی که با دریافت اطلاعات مربوطه این کار را انجام دهد
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="project-item__content--cta">
                            <li class="description-cta__item">
                                <div class="main">
                                            <span class="icon-box">
                                                {{> svg/github }}
                                            </span>
                                    <div class="flex-col">
                                        <div class="cta-title"><p>صفحه گیتهاب</p></div>
                                        <div class="cta-link">
                                            <a target="_blank" href="https://github.com">https://github.com/features</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="images/author.png" alt="author">
                                    <p>توسط سید حسن سیدی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-item__header">
                        <p class="project-title list-style expand-description">IP WhiteList Script</p>
                        <span class="expand-description">{{> svg/arrow-down }}</span>
                    </div>
                    <div class="project-item__content">
                        <div class="row project-item__content--intro">
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/file-plus }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">درخواست دهنده تیم</p>
                                    <p class="project-content-box__item subtitle">تیم CDN</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/arrow-up-circle }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">روش اجرا و ارائه</p>
                                    <p class="project-content-box__item subtitle">Opensourse/Github</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/code }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">زبان پروژه</p>
                                    <p class="project-content-box__item subtitle">python</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/dollar }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">مبلغ پروژه</p>
                                    <p class="project-content-box__item subtitle">10,000,000 ریال</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item__content--description">
                            <div class="description-header">
                                <div class="description-icon">
                                    <span class="icon-box">
                                        {{> svg/edit }}
                                    </span>
                                </div>
                                <h3>شرح پروژه</h3>
                            </div>
                            <div class="description-text">
                                <ul>
                                    <li class="list-style">نرم افزاری برای انتقال یک دامنه به همراه تنظیمات آن از
                                        روی کلودفلر به آروان
                                    </li>
                                    <li class="list-style">یک دامنه را به همراه تنظیمات مربوطه از سرویس کلودفلر به
                                        آروان منتقل کند API Key این نرم افزار باید بتواند با دریافت
                                    </li>
                                    <li class="list-style">حالت مطلوب میتواند یک وبسایت مستقل باشد و یا میتواند یک
                                        اسکریپتی که با دریافت اطلاعات مربوطه این کار را انجام دهد
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="project-item__content--cta">
                            <li class="description-cta__item">
                                <div class="main">
                                            <span class="icon-box">
                                                {{> svg/github }}
                                            </span>
                                    <div class="flex-col">
                                        <div class="cta-title"><p>صفحه گیتهاب</p></div>
                                        <div class="cta-link">
                                            <a target="_blank" href="https://github.com">https://github.com/features</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="images/author.png" alt="author">
                                    <p>توسط سید حسن سیدی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-item__header">
                        <p class="project-title list-style expand-description">cPanel Quick Installation</p>
                        <span class="expand-description">{{> svg/arrow-down }}</span>
                    </div>
                    <div class="project-item__content">
                        <div class="row project-item__content--intro">
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/file-plus }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">درخواست دهنده تیم</p>
                                    <p class="project-content-box__item subtitle">تیم CDN</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/arrow-up-circle }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">روش اجرا و ارائه</p>
                                    <p class="project-content-box__item subtitle">Opensourse/Github</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/code }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">زبان پروژه</p>
                                    <p class="project-content-box__item subtitle">python</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/dollar }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">مبلغ پروژه</p>
                                    <p class="project-content-box__item subtitle">10,000,000 ریال</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item__content--description">
                            <div class="description-header">
                                <div class="description-icon">
                                    <span class="icon-box">
                                        {{> svg/edit }}
                                    </span>
                                </div>
                                <h3>شرح پروژه</h3>
                            </div>
                            <div class="description-text">
                                <ul>
                                    <li class="list-style">نرم افزاری برای انتقال یک دامنه به همراه تنظیمات آن از
                                        روی کلودفلر به آروان
                                    </li>
                                    <li class="list-style">یک دامنه را به همراه تنظیمات مربوطه از سرویس کلودفلر به
                                        آروان منتقل کند API Key این نرم افزار باید بتواند با دریافت
                                    </li>
                                    <li class="list-style">حالت مطلوب میتواند یک وبسایت مستقل باشد و یا میتواند یک
                                        اسکریپتی که با دریافت اطلاعات مربوطه این کار را انجام دهد
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="project-item__content--cta">
                            <li class="description-cta__item">
                                <div class="main">
                                            <span class="icon-box">
                                                {{> svg/github }}
                                            </span>
                                    <div class="flex-col">
                                        <div class="cta-title"><p>صفحه گیتهاب</p></div>
                                        <div class="cta-link">
                                            <a target="_blank" href="https://github.com">https://github.com/features</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="images/author.png" alt="author">
                                    <p>توسط سید حسن سیدی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-item__header">
                        <p class="project-title list-style expand-description">Dynamic DNS</p>
                        <span class="expand-description">{{> svg/arrow-down }}</span>
                    </div>
                    <div class="project-item__content">
                        <div class="row project-item__content--intro">
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/file-plus }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">درخواست دهنده تیم</p>
                                    <p class="project-content-box__item subtitle">تیم CDN</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/arrow-up-circle }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">روش اجرا و ارائه</p>
                                    <p class="project-content-box__item subtitle">Opensourse/Github</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/code }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">زبان پروژه</p>
                                    <p class="project-content-box__item subtitle">python</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/dollar }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">مبلغ پروژه</p>
                                    <p class="project-content-box__item subtitle">10,000,000 ریال</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item__content--description">
                            <div class="description-header">
                                <div class="description-icon">
                                    <span class="icon-box">
                                        {{> svg/edit }}
                                    </span>
                                </div>
                                <h3>شرح پروژه</h3>
                            </div>
                            <div class="description-text">
                                <ul>
                                    <li class="list-style">نرم افزاری برای انتقال یک دامنه به همراه تنظیمات آن از
                                        روی کلودفلر به آروان
                                    </li>
                                    <li class="list-style">یک دامنه را به همراه تنظیمات مربوطه از سرویس کلودفلر به
                                        آروان منتقل کند API Key این نرم افزار باید بتواند با دریافت
                                    </li>
                                    <li class="list-style">حالت مطلوب میتواند یک وبسایت مستقل باشد و یا میتواند یک
                                        اسکریپتی که با دریافت اطلاعات مربوطه این کار را انجام دهد
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="project-item__content--cta">
                            <li class="description-cta__item">
                                <div class="main">
                                            <span class="icon-box">
                                                {{> svg/github }}
                                            </span>
                                    <div class="flex-col">
                                        <div class="cta-title"><p>صفحه گیتهاب</p></div>
                                        <div class="cta-link">
                                            <a target="_blank" href="https://github.com">https://github.com/features</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="images/author.png" alt="author">
                                    <p>توسط سید حسن سیدی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-item__header">
                        <p class="project-title list-style expand-description">CLI to work with CDN</p>
                        <span class="expand-description">{{> svg/arrow-down }}</span>
                    </div>
                    <div class="project-item__content">
                        <div class="row project-item__content--intro">
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/file-plus }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">درخواست دهنده تیم</p>
                                    <p class="project-content-box__item subtitle">تیم CDN</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/arrow-up-circle }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">روش اجرا و ارائه</p>
                                    <p class="project-content-box__item subtitle">Opensourse/Github</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/code }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">زبان پروژه</p>
                                    <p class="project-content-box__item subtitle">python</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/dollar }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">مبلغ پروژه</p>
                                    <p class="project-content-box__item subtitle">10,000,000 ریال</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item__content--description">
                            <div class="description-header">
                                <div class="description-icon">
                                    <span class="icon-box">
                                        {{> svg/edit }}
                                    </span>
                                </div>
                                <h3>شرح پروژه</h3>
                            </div>
                            <div class="description-text">
                                <ul>
                                    <li class="list-style">نرم افزاری برای انتقال یک دامنه به همراه تنظیمات آن از
                                        روی کلودفلر به آروان
                                    </li>
                                    <li class="list-style">یک دامنه را به همراه تنظیمات مربوطه از سرویس کلودفلر به
                                        آروان منتقل کند API Key این نرم افزار باید بتواند با دریافت
                                    </li>
                                    <li class="list-style">حالت مطلوب میتواند یک وبسایت مستقل باشد و یا میتواند یک
                                        اسکریپتی که با دریافت اطلاعات مربوطه این کار را انجام دهد
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="project-item__content--cta">
                            <li class="description-cta__item">
                                <div class="main">
                                            <span class="icon-box">
                                                {{> svg/github }}
                                            </span>
                                    <div class="flex-col">
                                        <div class="cta-title"><p>صفحه گیتهاب</p></div>
                                        <div class="cta-link">
                                            <a target="_blank" href="https://github.com">https://github.com/features</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="images/author.png" alt="author">
                                    <p>توسط سید حسن سیدی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul data-type="project" data-target="#02" class="tab-target project-wrapper__list">
                <li class="project-item">
                    <div class="project-item__header">
                        <p class="project-title list-style expand-description">Wordpress</p>
                        <span class="expand-description">{{> svg/arrow-down }}</span>
                    </div>
                    <div class="project-item__content">
                        <div class="row project-item__content--intro">
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/file-plus }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">درخواست دهنده تیم</p>
                                    <p class="project-content-box__item subtitle">تیم CDN</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/arrow-up-circle }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">روش اجرا و ارائه</p>
                                    <p class="project-content-box__item subtitle">Opensourse/Github</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/code }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">زبان پروژه</p>
                                    <p class="project-content-box__item subtitle">python</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/dollar }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">مبلغ پروژه</p>
                                    <p class="project-content-box__item subtitle">10,000,000 ریال</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item__content--description">
                            <div class="description-header">
                                <div class="description-icon">
                                    <span class="icon-box">
                                        {{> svg/edit }}
                                    </span>
                                </div>
                                <h3>شرح پروژه</h3>
                            </div>
                            <div class="description-text">
                                <ul>
                                    <li class="list-style">نرم افزاری برای انتقال یک دامنه به همراه تنظیمات آن از
                                        روی کلودفلر به آروان
                                    </li>
                                    <li class="list-style">یک دامنه را به همراه تنظیمات مربوطه از سرویس کلودفلر به
                                        آروان منتقل کند API Key این نرم افزار باید بتواند با دریافت
                                    </li>
                                    <li class="list-style">حالت مطلوب میتواند یک وبسایت مستقل باشد و یا میتواند یک
                                        اسکریپتی که با دریافت اطلاعات مربوطه این کار را انجام دهد
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="project-item__content--cta">
                            <li class="description-cta__item">
                                <div class="main">
                                            <span class="icon-box">
                                                {{> svg/github }}
                                            </span>
                                    <div class="flex-col">
                                        <div class="cta-title"><p>صفحه گیتهاب</p></div>
                                        <div class="cta-link">
                                            <a target="_blank" href="https://github.com">https://github.com/features</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="images/author.png" alt="author">
                                    <p>توسط سید حسن سیدی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-item__header">
                        <p class="project-title list-style expand-description">Drupal Plugin</p>
                        <span class="expand-description">{{> svg/arrow-down }}</span>
                    </div>
                    <div class="project-item__content">
                        <div class="row project-item__content--intro">
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/file-plus }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">درخواست دهنده تیم</p>
                                    <p class="project-content-box__item subtitle">تیم CDN</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/arrow-up-circle }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">روش اجرا و ارائه</p>
                                    <p class="project-content-box__item subtitle">Opensourse/Github</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/code }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">زبان پروژه</p>
                                    <p class="project-content-box__item subtitle">python</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/dollar }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">مبلغ پروژه</p>
                                    <p class="project-content-box__item subtitle">10,000,000 ریال</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item__content--description">
                            <div class="description-header">
                                <div class="description-icon">
                                    <span class="icon-box">
                                        {{> svg/edit }}
                                    </span>
                                </div>
                                <h3>شرح پروژه</h3>
                            </div>
                            <div class="description-text">
                                <ul>
                                    <li class="list-style">نرم افزاری برای انتقال یک دامنه به همراه تنظیمات آن از
                                        روی کلودفلر به آروان
                                    </li>
                                    <li class="list-style">یک دامنه را به همراه تنظیمات مربوطه از سرویس کلودفلر به
                                        آروان منتقل کند API Key این نرم افزار باید بتواند با دریافت
                                    </li>
                                    <li class="list-style">حالت مطلوب میتواند یک وبسایت مستقل باشد و یا میتواند یک
                                        اسکریپتی که با دریافت اطلاعات مربوطه این کار را انجام دهد
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="project-item__content--cta">
                            <li class="description-cta__item">
                                <div class="main">
                                            <span class="icon-box">
                                                {{> svg/github }}
                                            </span>
                                    <div class="flex-col">
                                        <div class="cta-title"><p>صفحه گیتهاب</p></div>
                                        <div class="cta-link">
                                            <a target="_blank" href="https://github.com">https://github.com/features</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="images/author.png" alt="author">
                                    <p>توسط سید حسن سیدی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="project-item">
                    <div class="project-item__header">
                        <p class="project-title list-style expand-description">Migrate From CloudFlare to Arvan</p>
                        <span class="expand-description">{{> svg/arrow-down }}</span>
                    </div>
                    <div class="project-item__content">
                        <div class="row project-item__content--intro">
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/file-plus }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">درخواست دهنده تیم</p>
                                    <p class="project-content-box__item subtitle">تیم CDN</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/arrow-up-circle }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">روش اجرا و ارائه</p>
                                    <p class="project-content-box__item subtitle">Opensourse/Github</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/code }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">زبان پروژه</p>
                                    <p class="project-content-box__item subtitle">python</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/dollar }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">مبلغ پروژه</p>
                                    <p class="project-content-box__item subtitle">10,000,000 ریال</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item__content--description">
                            <div class="description-header">
                                <div class="description-icon">
                                    <span class="icon-box">
                                        {{> svg/edit }}
                                    </span>
                                </div>
                                <h3>شرح پروژه</h3>
                            </div>
                            <div class="description-text">
                                <ul>
                                    <li class="list-style">نرم افزاری برای انتقال یک دامنه به همراه تنظیمات آن از
                                        روی کلودفلر به آروان
                                    </li>
                                    <li class="list-style">یک دامنه را به همراه تنظیمات مربوطه از سرویس کلودفلر به
                                        آروان منتقل کند API Key این نرم افزار باید بتواند با دریافت
                                    </li>
                                    <li class="list-style">حالت مطلوب میتواند یک وبسایت مستقل باشد و یا میتواند یک
                                        اسکریپتی که با دریافت اطلاعات مربوطه این کار را انجام دهد
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="project-item__content--cta">
                            <li class="description-cta__item">
                                <div class="main">
                                            <span class="icon-box">
                                                {{> svg/github }}
                                            </span>
                                    <div class="flex-col">
                                        <div class="cta-title"><p>صفحه گیتهاب</p></div>
                                        <div class="cta-link">
                                            <a target="_blank" href="https://github.com">https://github.com/features</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="images/author.png" alt="author">
                                    <p>توسط سید حسن سیدی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul data-type="project" data-target="#03" class="tab-target project-wrapper__list">
                <li class="project-item">
                    <div class="project-item__header">
                        <p class="project-title list-style expand-description">Migrate From CloudFlare to Arvan</p>
                        <span class="expand-description">{{> svg/arrow-down }}</span>
                    </div>
                    <div class="project-item__content">
                        <div class="row project-item__content--intro">
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/file-plus }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">درخواست دهنده تیم</p>
                                    <p class="project-content-box__item subtitle">تیم CDN</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/arrow-up-circle }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">روش اجرا و ارائه</p>
                                    <p class="project-content-box__item subtitle">Opensourse/Github</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/code }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">زبان پروژه</p>
                                    <p class="project-content-box__item subtitle">python</p>
                                </div>
                            </div>
                            <div class="box-col col-lg-3 col-md-6">
                                <div class="project-content-box">
                                    <p class="project-content-box__item">
                                            <span class="icon-box">
                                                {{> svg/dollar }}
                                            </span>
                                    </p>
                                    <p class="project-content-box__item title">مبلغ پروژه</p>
                                    <p class="project-content-box__item subtitle">10,000,000 ریال</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item__content--description">
                            <div class="description-header">
                                <div class="description-icon">
                                    <span class="icon-box">
                                        {{> svg/edit }}
                                    </span>
                                </div>
                                <h3>شرح پروژه</h3>
                            </div>
                            <div class="description-text">
                                <ul>
                                    <li class="list-style">نرم افزاری برای انتقال یک دامنه به همراه تنظیمات آن از
                                        روی کلودفلر به آروان
                                    </li>
                                    <li class="list-style">یک دامنه را به همراه تنظیمات مربوطه از سرویس کلودفلر به
                                        آروان منتقل کند API Key این نرم افزار باید بتواند با دریافت
                                    </li>
                                    <li class="list-style">حالت مطلوب میتواند یک وبسایت مستقل باشد و یا میتواند یک
                                        اسکریپتی که با دریافت اطلاعات مربوطه این کار را انجام دهد
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="project-item__content--cta">
                            <li class="description-cta__item">
                                <div class="main">
                                            <span class="icon-box">
                                                {{> svg/github }}
                                            </span>
                                    <div class="flex-col">
                                        <div class="cta-title"><p>صفحه گیتهاب</p></div>
                                        <div class="cta-link">
                                            <a target="_blank" href="https://github.com">https://github.com/features</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="images/author.png" alt="author">
                                    <p>توسط سید حسن سیدی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
