<section class="projects">
    <div class="container">

        {{> section-info title="فهرست پروژه ها" subtitle="با فهرست پروژه های در جریان ابر آروان بیشتر آشنا شوید" }}

        {{> projects/tabs }}

        <div class="project-wrapper">
            <section data-type="project" data-target="#01" class="tab-target project-wrapper__list active" >
                {{> projects/project-item title="Wordpress" }}
                {{> projects/project-item title="Drupal Plugin" }}
                {{> projects/project-item title="Migrate From CloudFlare to Arvan" }}
                {{> projects/project-item title="IP WhiteList Script" }}
                {{> projects/project-item title="IP WhiteList Script" }}
                {{> projects/project-item title="cPanel Quick Installation" }}
                {{> projects/project-item title="Dynamic DNS" }}
                {{> projects/project-item title="CLI to work with CDN" }}
            </section>
            <section data-type="project" data-target="#02" class="tab-target project-wrapper__list">
                {{> projects/project-item title="IP WhiteList Script" }}
                {{> projects/project-item title="cPanel Quick Installation" }}
                {{> projects/project-item title="Dynamic DNS" }}
                {{> projects/project-item title="CLI to work with CDN" }}
            </section>
            <section data-type="project" data-target="#03" class="tab-target project-wrapper__list">
                {{> projects/project-item title="Migrate From CloudFlare to Arvan" }}
                {{> projects/project-item title="IP WhiteList Script" }}
            </section>
        </div>
    </div>
</section>
