<ul>
    <li data-type="project" class="active tab" id="01" ><p>پروژه های فعال</p></li>
    <li data-type="project" class="tab" id="02"><p>درحال ارزیابی</p></li>
    <li data-type="project" class="tab" id="03"><p>پروژه های اجرا شده</p></li>
</ul>
