<div class="tabs">
    <ul class="project-tabs">
        <li data-type="project" class="active tab" data-id="01" ><p>پروژه های فعال</p></li>
        <li data-type="project" class="tab" data-id="02"><p>درحال ارزیابی</p></li>
        <li data-type="project" class="tab" data-id="03"><p>پروژه های اجرا شده</p></li>
    </ul>
</div>


<div id="project-tab-mobile" class="splide project-tabs-mobile">
    <div class="splide__track">
        <ul class="splide__list">
            <li data-type="project" data-id="01" class="tab splide__slide active"><p>پروژه های فعال</p></li>
            <li data-type="project" data-id="02" class="tab splide__slide"><p>درحال ارزیابی</p></li>
            <li data-type="project" data-id="03" class="tab splide__slide"><p>پروژه های اجرا شده</p></li>
        </ul>
    </div>
</div>
