<div class="tabs">
    <ul class="project-tabs">
        <li data-type="project" class="active tab" data-id="01" ><h3>پروژه های فعال</h3></li>
        <li data-type="project" class="tab" data-id="02"><h3>درحال ارزیابی</h3></li>
        <li data-type="project" class="tab" data-id="03"><h3>پروژه های اجرا شده</h3></li>
    </ul>
</div>


<div id="project-tab-mobile" class="splide project-tabs-mobile">
    <div class="splide__track">
        <ul class="splide__list">
            <li data-type="project" data-id="01" class="tab splide__slide active"><h3>پروژه های فعال</h3></li>
            <li data-type="project" data-id="02" class="tab splide__slide"><h3>درحال ارزیابی</h3></li>
            <li data-type="project" data-id="03" class="tab splide__slide"><h3>پروژه های اجرا شده</h3></li>
        </ul>
    </div>
</div>
