<section class="categories">
    <div class="container">
        <div class="section-info">
            <h2 class="section-title text-secondary">دسته‌بندی‌های محبوب بازارچه ابری</h2>
            <p class="section-subtitle"> بازارچه‌ی ابری آروان، فروشگاهی متشکل از صدها اپلیکیشن و نرم‌افزار ابری که به شما اجازه می‌دهد به سرعت محصول مورد نیاز خود را یافته و با یک
                .کلیک آن را راه‌اندازی کنید و هزینه را تنها بر اساس مصرف‌تان بپردازید</p>
        </div>
        <div class="categories__content">
            <div class="row">
                <div class="category-col col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="category">
                        <div class="logo">{{> svg/infrastructure }}</div>
                        <div class="category__title">
                            <p>زیرساخت</p>
                        </div>
                        <span class="category__subtitle">
                            Infrastructure
                        </span>
                    </a>
                </div>
                <div class="category-col col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="category">
                        <div class="logo">{{> svg/cms }}</div>
                        <div class="category__title">
                            <p>سیستم مدیریت محتوا</p>
                        </div>
                        <span class="category__subtitle">
                            CMS
                        </span>
                    </a>
                </div>
                <div class="category-col col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="category">
                        <div class="logo">{{> svg/database }}</div>
                        <div class="category__title">
                            <p>پایگاه داده</p>
                        </div>
                        <span class="category__subtitle">
                            Database
                        </span>
                    </a>
                </div>
                <div class="category-col col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="category">
                        <div class="logo">{{> svg/e-commerce }}</div>
                        <div class="category__title">
                            <p>تجارت الکترونیک</p>
                        </div>
                        <span class="category__subtitle">
                            e-Commerce
                        </span>
                    </a>
                </div>
                <div class="category-col col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="category">
                        <div class="logo">{{> svg/e-learning }}</div>
                        <div class="category__title">
                            <p>آموزش الکترونیک</p>
                        </div>
                        <span class="category__subtitle">
                            e-Learning
                        </span>
                    </a>
                </div>
                <div class="category-col col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="category">
                        <div class="logo">{{> svg/bug-tracking }}</div>
                        <div class="category__title">
                            <p>Bug Tracking</p>
                        </div>
                        <span class="category__subtitle">
                            Bug Tracking
                        </span>
                    </a>
                </div>
                <div class="category-col col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="category">
                        <div class="logo">{{> svg/custome-care }}</div>
                        <div class="category__title">
                            <p>پشتیانی مشتریان</p>
                        </div>
                        <span class="category__subtitle">
                            Customer Care
                        </span>
                    </a>
                </div>
                <div class="category-col col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="category">
                        <div class="logo">{{> svg/analytics }}</div>
                        <div class="category__title">
                            <p>تحلیل و گزارش</p>
                        </div>
                        <span class="category__subtitle">
                            Report and Analytics
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="categories__cta">
            <a href="#" class="btn btn-primary-outline">مشاهده همه اپلیکیشن ها</a>
        </div>
    </div>
</section>
